
}

.book-type-buttons button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-type-buttons button:hover {
    background-color: #003366;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #004080;
    color: white;
    margin-top: 20px;
}

/* About Us page styles */
.about {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about h2 {
    text-align: center;
    color: #004080;
    margin-bottom: 20px;
}

.about p {
    line-height: 1.6;
    margin-bottom: 10px;
}
